This notebook creates a prediction for rows where the origin destination distance is exactly the same as at least one of the training rows.

This takes advantage of a mistake made by Expedia: They gave a precise distance between the user's city and the exact hotel that they chose in the end. In the training data set, there are some items that repeat the `orig_destination_distance`. For about 95% of them there is 1-to-1 correspondance between that distance and the `hotel_cluster`.

In [1]:
import numpy as np
import pandas as pd
from math import ceil
with open('datapath.txt') as f:
    datapath=f.readlines()[0].rstrip()

In [2]:
totaltrainrows=37670293
ndestinations=62106
totaltestrows=2528243

In [3]:
testdata=pd.read_csv(datapath+'test.csv', nrows=None, usecols=[0,6,7],dtype={0:np.uint32,6:np.uint16,7:np.float64},index_col=0)

In [4]:
testdata.dropna(inplace=True)

In [46]:
testdata[['orig_destination_distance','user_location_city']]

         orig_destination_distance  user_location_city
id
0                        5539.0567               37449
1                        5873.2923               37449
2                        3975.9776               17440
3                        1508.5975               34156
4                          66.7913               36345
5                         359.8521               48189
6                         237.3465               48189
7                         216.5785               24811
8                        2337.6754               48189
9                        2539.7995               48189
10                       2660.9654               48189
25                       2452.2781               24103
26                       7449.5906               36086
27                         25.8282                5938
28                        534.3984               39058
29                        911.1921               20170
30                       3974.8078               41495
32                       1383.5711               28950
33                        382.0833                1271
34                         28.2090                8978
35                        191.2790                8657
36                        279.5189                8657
37                         53.1477               30455
38                       4708.7364               50661
40                       7755.2049               14703
41                       7342.3791               14703
42                         98.4142               55926
43                       1514.4627                1803
44                        219.3531               21728
45                       1035.2867               24562
...                            ...                 ...
2528207                   720.4032               38374
2528208                   919.8944               38374
2528209                   955.8293               46963
2528211                   666.1290               42396
2528212                    61.4925               42396
2528213                   482.1640               42396
2528214                   561.1356               42396
2528215                   524.9776               42396
2528216                    98.9595               42396
2528217                   134.8539               42396
2528218                  7759.9406               42396
2528219                   244.3949               42396
2528220                   780.8954               42396
2528221                   654.8646               42396
2528222                  1814.9161               42396
2528223                  1824.0325               42396
2528224                   184.1005               17552
2528225                  5187.0656                2086
2528226                   448.0108               40604
2528227                   274.9252               40604
2528231                   221.9894               35390
2528233                    25.8312               13982
2528234                  2300.3771               40193
2528235                  1766.4050               19630
2528236                   296.8726               47766
2528237                  2369.5146               18037
2528238                  2466.1247               18037
2528239                  4701.6346               48951
2528240                  1077.2278               17078
2528241                   266.7678               28561

[1680782 rows x 2 columns]

This code takes advantage of the fact that sets are refered to by reference in python. We can pass this set to another data frame, but all it is passing is something that says "look in this spot in memory for this object". This means that `[set()]*testdata.shape[0]` will not work for our purposes, as it creates a list, where each element is the exact same object in memory. Thus, if we change one element in the list, we'll change every one.

In [5]:
testdata['hotel_cluster']=[set() for i in xrange(testdata.shape[0])]

This creates an iterator over the training data, using just the columns we want. Each element of the iterator is a `DataFrame`. We can than iterate over it, extract and use the info we want from each chunk, after which it is discarded from memory and the next chunk is loaded.

In [6]:
nchunks=8
chunksize=ceil(float(totaltrainrows)/nchunks)
trainit=pd.read_csv(datapath+'train.csv',iterator=True,chunksize=chunksize,usecols=[5,6,23],dtype={5:np.uint16,6:np.float64,23:np.uint8})

In [40]:
def add_cluster(x):
    x['hotel_cluster_tst'].add(x['hotel_cluster_tr'])

Because the sets are objects passed by reference, we can modify them in the data frame created in the for loop, and they will also get modified in `testdata`.

In [8]:
%%time
nchunk=0
for chunk in trainit:
    chunk=pd.merge(chunk,testdata.reset_index(),on=['orig_destination_distance','user_location_city'],how='inner',suffixes=['_tr','_tst'])
    chunk.apply(add_cluster,axis=1)
    print(nchunk)
    nchunk+=1

0
1
2
3
4
5
6
7
CPU times: user 19min 8s, sys: 15.7 s, total: 19min 24s
Wall time: 19min 20s

In [15]:
#Garbage collection doesn't work well in an interactive session, so I can save some memory like so:
chunk=0

In [31]:
settostring=lambda x: ' '.join(str(i) for i in x)

When we convert the sets to booleans, empty sets are `False`, all others are `True`.

In [32]:
prediction=testdata[testdata['hotel_cluster'].astype(bool)]['hotel_cluster'].map(settostring)

In [36]:
prediction.to_csv(datapath+'dist_predict.csv',index=True,header=True)

There are, however, some data points where this method doesn't work perfectly. This is probably because hotels can change their cluster seasonally, or as aspects of the hotel change. I haven't yet figured out what to do with these.

In [41]:
checklen=lambda x: len(x)

In [43]:
bads=testdata[testdata['hotel_cluster'].apply(len)>5]

In [44]:
bads.shape

(22, 3)

There are only 8 actual problems to deal with though:

In [48]:
bads.groupby('orig_destination_distance').size()

orig_destination_distance
55.7481      10
61.5983       4
69.1495       2
141.5581      1
195.8534      2
1698.9480     1
2375.0267     1
3378.0289     1
dtype: int64

In [49]:
bads

,user_location_city,orig_destination_distance,hotel_cluster
id,,,
40071,2037,55.7481,"{73, 89, 25, 90, 59, 30}"
47815,27655,2375.0267,"{3, 83, 20, 85, 57, 30, 53}"
170559,28561,61.5983,"{73, 25, 89, 90, 59, 30}"
244716,2086,195.8534,"{3, 20, 53, 57, 60, 93, 30, 85}"
278646,28561,61.5983,"{73, 25, 89, 90, 59, 30}"
451279,32561,141.5581,"{40, 41, 44, 83, 86, 90, 60, 31}"
646412,35390,3378.0289,"{64, 99, 36, 9, 46, 80}"
690018,28561,61.5983,"{73, 25, 89, 90, 59, 30}"
835472,2037,55.7481,"{73, 89, 25, 90, 59, 30}"
944406,51733,1698.9480,"{98, 80, 21, 25, 59, 95}"
1007332,24562,69.1495,"{98, 68, 70, 25, 28, 95}"
1032008,2037,55.7481,"{73, 89, 25, 90, 59, 30}"
1291974,2037,55.7481,"{73, 89, 25, 90, 59, 30}"
1301232,2037,55.7481,"{73, 89, 25, 90, 59, 30}"
1357583,2086,195.8534,"{3, 20, 53, 57, 60, 93, 30, 85}"
1497455,2037,55.7481,"{73, 89, 25, 90, 59, 30}"
1567900,2037,55.7481,"{73, 89, 25, 90, 59, 30}"
1950882,2037,55.7481,"{73, 89, 25, 90, 59, 30}"
2087261,2037,55.7481,"{73, 89, 25, 90, 59, 30}"
2186077,2037,55.7481,"{73, 89, 25, 90, 59, 30}"
2450016,28561,61.5983,"{73, 25, 89, 90, 59, 30}"
2487747,24562,69.1495,"{98, 68, 70, 25, 28, 95}"

### Scrap
Here's an example of how to take in a small number of rows for experimentation with the data:

In [37]:
chunk=pd.read_csv(datapath+'train.csv',nrows=100,usecols=[5,6,23],dtype={5:np.uint16,6:np.float64,23:np.uint8})

In [38]:
chunk.head()

   user_location_city  orig_destination_distance  hotel_cluster
0               48862                  2234.2641              1
1               48862                  2234.2641              1
2               48862                  2234.2641              1
3               35390                   913.1932             80
4               35390                   913.6259             21